
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <marquee>
        <div class="text-danger font-weight-bolder">
            <h2>CHÀO MỪNG BẠN ĐẾN VỚI Son Store  ! MÃI YÊU!!! </h2>
        </div>
    </marquee>
</div>